*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(249, 239, 227);
}

header{
    background-color: rgb(186, 249, 216);
    color: black;
    padding: 15px 0;
}

nav ul { 
    display: flex; 
    justify-content: center; 
    list-style: none; 
    margin: 0; 
}

nav ul li{
    margin: 0 15px;
    font-size: 1rem;
}

nav ul li:hover{
    transform: scale(1.1);
    text-shadow: 1px 2px 1px rgba(236, 170, 148, 0.812);
    transition: transform 0.2s;
}

nav ul li a{
    color: rgb(241, 60, 0);
    text-decoration: none;
    font-weight: bold;
}

.content{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 20px;
}

.kutu{
    flex: 1;
    background-color: rgb(255, 196, 176);
    border: 1px solid rgb(254, 134, 113);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: rgb(241, 60, 0);
}

footer{
    background-color: rgb(186, 249, 216);
    color: rgb(241, 60, 0);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}